.search-form_container {
	display: flex;
	padding: 2%;
  }
  
  .search-form_input {
	width: 100%;
	font-size: 20px;
	font-weight: 400;
	padding: 16px 19px;
	border: none;
	border-radius: 3px;
	color: #d5d5d5;
	background-color: #232323;
	opacity: 0.8;
  }

  .search-form_button {
	width: 20%;
	border-radius: 3px;
	font-size: 20px;
	font-weight: 400;
	background-color: #F65261;
	color: #ffffff;
	border: none;
	margin-left: 2%;
  }